@import "/static/css/fonts.css";

:root {
    font-family: "IBM Plex Sans", sans-serif !important;
}

*, *::before, *::after {
    box-sizing: border-box;
}

::-webkit-inner-spin-button {
    height: 1em;
}

